.TICTACTOE__color__X {
  background: #da4646;
}
.TICTACTOE__color__O {
  background-color: #356cf7;
}

.TICTACTOE__animate-pulse-bounce {
  animation: tictactoe-pulse 3s infinite, tictactoe-bounce 0.875s infinite;
}

.TICTACTOE__animate-pulse {
  animation: tictactoe-pulse 3s infinite;
}

.TICTACTOE__animate-bounce {
  animation: tictactoe-bounce 0.875s infinite;
}

@keyframes tictactoe-pulse {
  0% {
    opacity: 0.875;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.875;
  }
}

@keyframes tictactoe-bounce {
  0%,
  100% {
    transform: translateY(-6%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
